.producto {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:481px) and (max-width:900px) {
    .producto {
        flex-wrap: wrap;
        height: 16rem;
        justify-content: center;
    }
}

@media screen and (min-width:900px) and (max-width:1600px) {
    .producto {
        flex-wrap: wrap;
        height: 29rem;
        justify-content: center;
        padding: 2rem 11rem
    }
}