.header {
    display: flex;
    position: relative;
    align-items: center;
    padding: 1rem 1rem; 
    background-color: #e0edff;

}

@media screen and (min-width:600px) and (max-width:900px) {
    .header {
        justify-content: center;
        padding: 1rem 0;
    }
}

@media screen and (min-width:901px) and (max-width:1600px) {
    .header {
        justify-content: center;
        padding: 1rem 0;
    }
}

