.header__menuAdmin {
    order: 1;
    text-decoration: none;
    background-color: #c8e0fd;
    border: 1px solid #115571;
    color: rgb(14, 35, 60);
    padding: 0.7rem 2%; 
    border-radius: 5px; 
    font-family: 'Nunito', sans-serif;
    width: 29%;
    justify-content: center;
}

@media screen and (min-width:481px) and (max-width:900px) {
    .header__menuAdmin {
        order: 2;
        padding: 0.9rem 2rem;
        border-radius: 0;
        width: 18%;
    }
}

@media screen and (min-width:901px) and (max-width:1600px) {
    .header__menuAdmin {
        order: 2;
        padding: 0.9rem 2rem;
        border-radius: 0;
        width: 10%;
    }
}