.sobre__contato {
    background-color: #e0edff;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:481px) and (max-width:900px) {
    .sobre__contato {
        flex-direction: row;
        padding: 4rem 1rem 3rem 1rem;
    }
}

@media screen and (min-width:901px) and (max-width:1600px) {
    .sobre__contato {
        flex-direction: row;
        padding: 5rem 1rem 3rem 3.5rem;
    }
}