.cargando {
    width: 98.8vw;
    height: 200px;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0);
}

.cargando__container {
    width: 200px;
    height: 150px;
    background-color: #eeecec;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}