.sobre {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width:481px) and (max-width:900px) {
    .sobre {
        flex-basis: 35%;
    }
}

@media screen and (min-width:901px) and (max-width:1600px) {
    .sobre {
        flex-direction: row;
        flex-basis: 57%;
    }
}