.agregar__input {
    font-family: 'Nunito', sans-serif;
    padding: 1.5rem 1rem 0.3rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 400;
    border:none;
    width: 80vw;
    transition: all 0.5s;
    border-bottom: 3px solid transparent;
    color: #15394E;
    display: flex;
    flex-direction: column;
}

.agregar__input:focus {
    outline:none;
    border-bottom: 3px solid #15394E;
}

.agregar__input::placeholder {
    visibility: hidden;
}

.agregar__input--select {
    width: 88vw;
    padding: 1rem 1rem 0.5rem 0.4rem;
    margin-bottom: 2rem;
}

@media screen and (min-width:901px) and (max-width:1600px) {
    .agregar__input {
        width: 50vw;
    }
    .agregar__input--select {
        width: 52vw;
    }
}